@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/static/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/static/OpenSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/static/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/static/OpenSans-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}

/* setting up the navigation bar/настройка навигационной панели */

.navigation {
    background: #f00e0e;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container_navigation_bar {
    margin: 0 auto;
    background-color: #f6f2f2;
    padding-top: 25px;
}

header {
    margin: 0 auto;
    min-height: 120px;
    background-color: #212020;
}

.navigation_bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.navigation_bar>div {
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 52px 0px 52px 0px;
    margin: 0 60px;
}

.navigation_bar>div:hover {
    background-color: #b9951e;
}

.navigation_bar>div>a {
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: normal;
    color: #e0e0e0;
}


/* footer settings/настройки нижнего колонтитула */

footer {
    height: 100px;
    background-color: #b9951e;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer_roman_grigorev {
    padding-top: 40px;
    padding-left: 38vw;
    font-size: 18px;
    color: #000000;
}

.social_icons {
    padding-right: 10vw;
    padding-top: 1vw;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
}

.social_icons>li {
    padding-left: 16px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}