@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/static/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}


/* setting up the navigation bar/настройка навигационной панели */

.active {
    background: #f00e0e;
}

* {
    /* универсальный селектор для одинакового отображения во всех браузерах */
    box-sizing: border-box;
    margin: 0;
}

.container_navigation_bar {
    margin: 0 auto;
    background-color: #747474;
    /* padding-top: 25px; */
    /* опускаем ниже навигационную панель */
}

header {
    margin: 0 auto;
    background-color: #747474;
}

.navigation_bar>ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.navigation_bar>ul>li {
    display: flex;
    justify-content: center;
    min-width: 120px;
    padding: 22.5px 0px 22.5px 0px;
    margin: 0 60px;
}

.navigation_bar>ul>li:hover {
    background-color: #b9951e;
}

.navigation_bar>ul>li>a {
    text-decoration: none;
    /* убираем нижнее подчёркивание ссылок */
    font-size: 22px;
    /* задаём размер шрифта */
    color: #e0e0e0;
    /* задаём цвет текста */
}

/* configuring the first container block/настройка первого блока контейнера */

.first_block_container {
    background-color: #0f0f0f;
    /* min-height: 576px; */
}

.shell_description {
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 85px;
    margin: 0 auto;
}

.my_last_name_and_first_name {
    line-height: 72px;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: #e0e0e0;
}

.enlarge_the_title {
    letter-spacing: 0.1em;
}

.my_description_text {
    max-width: 512px;
    margin-top: 18px;
    opacity: 0.7;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #e0e0e0;
}

.photo_with_me {
    max-width: 550px;
    min-height: 360px;
    margin-top: 20px;
}

a.about_me_button {
    display: inline-block;
    margin-top: 30px;
    width: 212px;
    height: 55px;
    border: none;
    letter-spacing: normal;
    background-color: #f00e0e;
    border-color: #f00e0e;
    color: #e0e0e0;
    padding: 10px 64px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
}

a.about_me_button:hover {
    background-color: #b9951e;
}

/* settings of the second container block/настройки второго блока контейнера */

.subscription_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    background-color: #0f0f0f;
}

.subscription_block>h2 {
    padding-bottom: 30px;
    /* opacity: 0.8; */
    font-size: 42px;
    /* line-height: 24px; */
    font-weight: 800;
    /* letter-spacing: normal; */
    color: #e0e0e0;
}

.subscription_block>p {
    padding-bottom: 60px;
    /* opacity: 0.8; */
    font-size: 16px;
    /* line-height: 28px; */
    /* font-weight: normal; */
    color: #e0e0e0;
}

.input_email {
    padding-left: 36px;
    width: 521px;
    height: 55px;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.input_email:focus {
    outline: 2px solid #f00e0e;
}

.subscribe {
    margin: 0 0 0 20px;
    padding-bottom: 2px;
    width: 212px;
    height: 55px;
    background-color: #f00e0e;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #e0e0e0;
}

.subscribe:hover {
    background-color: #b9951e;
}

/* footer settings/настройки нижнего колонтитула */

footer {
    height: 71px;
    background-color: #747474;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer_roman_grigorev {
    padding-top: 28px;
    padding-left: 700px;
    font-size: 18px;
    color: #000000;
}

.social_icons {
    padding-right: 150px;
    /* padding-top: center; */
    display: flex;
    /* располагаем иконки соцсетей горизонтально */
    list-style: none;
    margin-top: 18px;
}

.social_icons>li {
    padding-left: 16px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}